<ion-view view-title="{{ 'Hi ' + accountInfo.name + '!'}}">
	<ion-nav-buttons side="right">
	    <button class="button button-icon button-clear ion-refresh"></button>
	</ion-nav-buttons>
	<ion-header-bar class="bar bar-subheader custom positive-bg">
		<div class="row">
		    <div class="col">
		        <div class="text-center home-profile">
		        	<div class="icon-profile">
		        		<i class="icon ion-android-contact font-large"></i>
		        	</div>
		        	<div class="row">
					  	<div class="col current">
					  		<div class="text">Current Milestone</div>
					  		<div>
					  			 <span class="currency"><i class="icon ion-android-star-half"></i> {{ (accountInfo.accountType === 3) ? 'Random' : (accountInfo.currentMilestoneAmount | currency)}}</span>
					  		</div>
					  	</div>
					  	<div class="col profile-account"><h4 class="text">{{ accountInfo.name }}</h4><h5 class="light">{{ (accountInfo.totalAmount === null) ? 0.00 : accountInfo.totalAmount  | currency}}</h5></div>
					  	<div class="col next">
					  		<div class="text">Next Milestone</div>
					  		<div>
					  			<span class="currency"><i class="icon ion-android-star-half"></i> {{ (accountInfo.accountType === 3) ? 'Random' : (accountInfo.nextMilestoneAmount | currency) }}</span>
					  		</div>
					  	</div>
				  	</div>
				</div>
		    </div>
		</div>
		<div class="bar bar-footer bar-stable footer-bar-custom border-top-bottom">
			<div class="buttons buttons-right">
		        <button class="button button-positive button-fab" ng-click="completeCurrentMilestone()">
		            <i class="icon ion-android-add"></i>
		        </button>
		    </div>
            <h4><i class="icon ion-android-arrow-forward"></i>  Account Savings</h4>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader-custom light-bg" has-bouncing="true">
    	<ion-list class="list">
            <ion-item nav-clear menu-close collection-repeat="achievement in achievements" class="item-icon-right border-bottom item-avatar home-milestone-list">
                <img src="img/person-flat.png">
                <h2 class="positive">{{ achievement.day | ordinal }} Day Milestone (<strong class="positive">{{ achievement.amount | currency}}</strong>)</h2>
                <p>Added {{ achievement.created_at }}</p>
                <i class="icon dark ion-android-star-outline"></i>
            </ion-item>
        </ion-list>
        <div ng-if="!achievements.length" class="row padding-top">
		    <div class="col padding-top">
		        <div class="text-center padding-top">
		        	<i class="icon dark ion-alert-circled font-small"></i>
		            <h5 class="font-normal">You don't have savings yet. Start saving now!</h5>
		        </div>
		    </div>
		</div>
    </ion-content>
</ion-view>
