<!-- <div class="row">
	<div class="col">
		<div class="text-center">
			Are you sure you want to add <strong>{{ accountInfo.currentMilestone | currency }}</strong> to your savings?
		</div>
	</div>
</div> -->
<ion-scroll direction="y" class="available-scroller" style="height:350px; overflow-y: hidden">
	<div class="list" style="height:350px">
		<div class="row">
			<div class="col">
			    <a class="item item-icon-left" collection-repeat=" item in selectedData">
			        <i class="icon ion-android-done dark"></i> {{ item.amount | currency}}
			        <span class="item-note">Grammy</span>
			    </a>
			</div>
		</div>
	</div>
</ion-scroll>