<div class="list">
	<label class="item item-input">
		<i class="icon ion-android-person placeholder-icon"></i>
    	<input type="text" ng-model="accountSettings.name" placeholder="Please enter an account name">
	</label>
</div>
<div class="list overflow-hidden">
	<div class="title dark padding-bottom padding-left ">
		<strong>How would you like to save?</strong>
	</div>
  	<ion-radio ng-model="accountSettings.accountType" ng-value="1" class="item-text-wrap">
  		In order, starting at 1 penny on the first day and adding $3.65 on the last day? </ion-radio>
  	<ion-radio ng-model="accountSettings.accountType" ng-value="2" class="item-text-wrap">
  		In reverse, starting at $3.65 on the first day and ending with $.01 on the last day? 
  	</ion-radio>
  	<ion-radio ng-model="accountSettings.accountType" ng-value="3" class="item-text-wrap">
  		Randomly checking off all the amounts in a year?
  	</ion-radio>
</div>


