<ion-view view-title="Missed Milestone">
	<ion-content>
		<div class="row">
			<div class="col">
				<div class="bar bar-header item-input-inset">
		  			<label class="item-input-wrapper stable-bg">
		    			<i class="icon ion-ios-search dark placeholder-icon"></i>
		    			<input type="search" placeholder="Search">
	  				</label>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="item-divider missed-milestone font-normal dark light-bg padding-top padding-bottom">
	            <i class="icon ion-android-arrow-forward"></i>  Please select milestone you want to complete
	        </div>
			<div class="list">
			    <a class="item item-icon-right item-avatar border-bottom">
				    <img src="img/person-flat.png">
	                <h2 class="positive">1st Day Milestone (<strong class="positive">$0.01</strong>)</h2>
	                <p>Added five years ago</p>
	                <i class="icon dark ion-android-star-half"></i>
			    </a>
			    <a class="item item-icon-right item-avatar border-bottom">
				    <img src="img/person-flat.png">
	                <h2 class="positive">1st Day Milestone (<strong class="positive">$0.01</strong>)</h2>
	                <p>Added five years ago</p>
	                <i class="icon dark ion-android-star-half"></i>
			    </a>
			    <a class="item item-icon-right item-avatar border-bottom">
				    <img src="img/person-flat.png">
	                <h2 class="positive">1st Day Milestone (<strong class="positive">$0.01</strong>)</h2>
	                <p>Added five years ago</p>
	                <i class="icon dark ion-android-star-half"></i>
			    </a>
			</div>
		</div>
	</ion-content>
</ion-view>
