<div class="row">
	<div class="col">
		<div class="text-center">
			Congratulations! you've already reached the end of the challenge. You have saved <strong>{{ (accountInfo.totalAmount === null) ? '0.00' : accountInfo.totalAmount | currency }} </strong> to your account.
		</div>

		<div class="text-center padding-top">
			<div class="padding-top">
				<div class="padding-top padding-bottom">
					Do you want to start over again and rechallenge your self? Please click <strong>YES</strong> to start over again.
				</div>
			</div>
		</div>
	</div>
</div>
