/* Empty. Add your own CSS if you like */
/* Utilities */
input::-moz-placeholder, 
textarea::-moz-placeholder{
    color: #444;
}

.item-radio input:checked+.radio-content .item-content{
    background-color: transparent;
}

.radio-content .item-content{
    font-size: 13px;
}

.item.item-icon-right{
    padding-top:20px;
}

.item-input-inset .item-input-wrapper input{
    width: 100%;
}

.spinner-android {
    stroke: #fff;
}

.padding-top-small{
    padding-top: 5px;
}

.overflow-hidden{
    overflow: hidden;
}

.font-normal{
    font-weight: normal !important;
}

.no-border{
    border: 0px;
    border-color: transparent;
    border-top: transparent;
    border-bottom: transparent;
    background-image: none !important;
}

.no-radius{
    border-bottom-left-radius: 1px !important;
    border-bottom-right-radius: 1px !important;
    border-top-left-radius: 1px !important;
    border-top-right-radius: 1px !important;
}

.bold {
    font-weight: bold;
}

.left-5.icon{
    left: 5px;
}

.left-15{
    left: 15px !important;
}

.font-large{
    font-size: 55px;
}

.font-small{
    font-size: 17px;
}

.font-small.small{
    font-size: 13px;
}

.font-small.icon{
    font-size: 22px;
}

.small{
    font-size: 13px !important;
}

.border-bottom{
    border-bottom: 1px solid rgba(0,0,0,.08) !important;
}

.border-right{
    border-right: 1px solid #2e97e2;
}

.border-all{
    border:1px solid #E9E9E9;
}

.border-radius{
    border-radius: 5px;
}

.title.title-left.header-item{
    left: 48px !important;
}

.milestone-selected.selected{
    background-color: #5A6063;
    color: #fff !important;
    font-weight: normal;
    border-radius: 2px;
}

.milestone-selected.selected .light-selected{
    color : #fff !important;
}

.has-subheader-custom .item-icon-left .icon,
.has-subheader-custom .item-icon-right .icon{
    font-size: 42px !important;
}

.home-profile .icon-profile{
    margin-top: 5px !important;
    background-color: #5bade8;
    border-radius: 100%;
    margin: auto;
    width: 70px;
    height: 70px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border: 5px solid #fff;
}

.home-profile .icon-profile i, 
.menu-profile .icon-profile i{
    position: absolute;
    text-align: center;
    right: 0px;
    left: 0px;
    color: #fff;
}

.home-profile .current, 
.home-profile .next{
    color: #fff;
    font-size: 11px;
}

.home-profile .current .text, 
.home-profile .next .text{
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 95%;
    margin: 0px auto;
}

.home-profile .profile-account .text{
    color: #fff;
    font-size: 18px;
    margin: 5px !important;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 95%;
    margin: 0px auto;
}

.home-profile .current i::before,
.home-profile .next i::before{
    font-size: 14px;
    color: #5A6063;
    margin-top: 10px;
}

.border-top-bottom{
    border-color:#f1f1f1 !important;
    border-bottom: 1px solid #f1f1f1 !important;
    border-top: 1px solid #f1f1f1 !important;
    background-image: none !important; 
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.col .currency i.icon::before{
    position: relative;
    top:1px;
}

.col .currency{
    background: #ffc900;
    padding: 6px 10px 6px 10px;
    border-radius: 100px;
    color: #fff;
    font-weight: normal;
}

.col .settings{
    margin-top: 7px;
    background: #2e97e2;
    padding: 2px;
    border-radius: 2px;
    color: #fff;
    font-weight: normal;
}

/* Menu */
.menu.menu-left * {
    font-weight: normal;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

.button-fab i{
    color: #fff;
}

.bar .button{
    width: 48px !important;
    min-height: 49px !important;
}

.bar .button.button-fab{
    width: 56px !important;
    height: 56px !important;
    border-style: solid;
    border-color: #f8f8f8;
    border-width: 4px;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    right: 0px;
    left: 0px;
}

.menu-list span{
    font-size: 13px;
}
.menu-list i{
    padding-left: 12px;
    color: #5bade8;
    font-size: 19px !important;
}

.menu-list i::before{
    padding-bottom: 3px;
}

.bar-subheader.custom{
  height: 236px !important;
  border: none;
}

.has-subheader-custom {
    top: 287px !important;
}

.menu-subheader.custom{
    height: 236px !important;
    border: none;
    font-size: 13px;
}

.menu-has-subheader-custom {
    top: 235px !important;
}

.footer-bar-custom > h4{
    width: 100%;
    color: #666;
    font-size: 16px;
    padding-left:19px;
    padding-top: 5px;
    font-weight: normal;
}

.active-menu{
    background-color: #f8f8f8;
}

.active-menu::after{
    content: " ";
    position: absolute;
    left: 0px;
    right:0px;
    top:0px;
    bottom: 0px;
    background-color: #f8f8f8;
    border-left: 5px solid #5bade8 !important;
}


/*Preferences*/

.item-radio .item-content{
    padding-right: 43px !important;
}

/*Setting Page*/
.item-checkbox{
    padding-left: 17px !important;
}

.item-checkbox .checkbox{
    left: inherit !important;
}

.item-divider.settings{
    line-height: 25px;
    font-size: 14px;
    padding-bottom: none;
    border:none;
}

.settings .item{
    padding-top: 14px;
    padding-bottom: 9px;
}

.settings .item i{
    font-size: 22px;
}

.settings .item h2{
    font-size: 12px;
}

.settings .item span{
    font-size: 12px;
}

.settings .item h3{
    font-size: 13px;
}

.settings .item p{
    font-size: 11px;
}


.card.settings{
    border-radius: 4px;
}

/*missed milestone*/

.bar-subheader.custom-missed-milestone{
  height: 128px !important;
  border: none;
}

.missed-milestone-has-subheader-custom{
    top: 179px !important;
}

.card .item.item-avatar{
    min-height: 48px;
}

.item-input-wrapper{
    padding:6px;
}

.missed-milestone h4{
    font-size: 14px;
}

.item.missed-milestone h2{
    color:#5A6063;
}

/* Select Milestone */

.item.milestones-list h2{
    color: #5bade8;
}

.bar-subheader.custom-select-milestone{
  height: 128px !important;
  border: none;
}

.select-milestone-has-subheader-custom{
    top: 179px !important;
}

.select-milestone h4{
    font-size: 14px;
}

.item.milestones-list,
.item.missed-milestone{
    margin-top:-2px;
}

.item.milestones-list.selected::after{
    content: " ";
    position: absolute;
    left: 0px;
    right:0px;
    top:0px;
    bottom: 0px;
    border-left: 6px solid #5bade8 !important;
    border-top: 1px solid rgba(0,0,0,.08) !important;
}

.item.milestones-list.selected{
    background-color: #F0F0F0 !important;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.item.milestones-list.selected h2, 
.item.milestones-list.selected p, 
.item.milestones-list.selected i{
    color: #444 !important;
}

